p =@attempt
/ = form_for [:contests, @attempt] do |f|
/ 	= f.fields_for :answers do |builder|
/ 		ul
/ 			- @survey.questions.each do |question|
/ 				li
/ 					p= question.text
/ 					= builder.hidden_field :question_id, :value => question.id
/ 					- question.options.each do |option|
/ 						= builder.check_box :option_id, {}, option.id, nil
/ 						= option.text
/ 						br
/ 					- end
/ 			- end
/ 	= f.submit "Submit"
/ - end