////////////////////////////////////////
// defined global variables.
////////////////////////////////////////
$base_size: 60px;
$base_font_size: 14px;
$base_priority_color: #4a69e6; //#563d7c
$base_priority_hover_color: #3469ea; //#2058e1;
$base_mute_color: #A2A2A2;
$base_bg_mute_color: #E8E8E8;
$base_btn_bg_color: #3469ea;
$base_btn_bg_hover_color: #2058e1;
$base_margin: 10px 0;
$base_margin_p: 0 0 5px;
$base_border_radius: 0;
$base_border_box_shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
$base_cursor: pointer;
$base_dotted_border: 1px dotted #999;
$base_error_color: #E20204;
$base_height_suggestion_list: 250px;